node_modules/

packages/auth/dist/
packages/components/dist/
packages/components/www/
packages/components/loader/

packages/components/*~
packages/components/*.sw[mnpcod]
packages/components/*.log
packages/components/*.lock
packages/components/*.tmp
packages/components/*.tmp.*
packages/components/log.txt
packages/components/*.sublime-project
packages/components/*.sublime-workspace

packages/components/.stencil/
packages/components/.idea/
packages/components/.vscode/
packages/components/.sass-cache/
packages/components/.versions/

packages/components/$RECYCLE.BIN/

packages/components/.DS_Store
packages/components/Thumbs.db
packages/components/UserInterfaceState.xcuserstate
packages/components/.env