node_modules/

auth/dist/
components/dist/
components/www/
components/loader/

components/*~
components/*.sw[mnpcod]
components/*.log
components/*.lock
components/*.tmp
components/*.tmp.*
components/log.txt
components/*.sublime-project
components/*.sublime-workspace

components/.stencil/
components/.idea/
components/.vscode/
components/.sass-cache/
components/.versions/

components/$RECYCLE.BIN/

components/.DS_Store
components/Thumbs.db
components/UserInterfaceState.xcuserstate
components/.env